#modal-article > div {
    /*width: 1320px !important;*/
    width: 90% !important;
}

#abstract{
    height: 320px !important;
}

#tab-evaluation{
    /*display: visible;*/
    display: inline-grid;
    padding: 10px;
}

#tab-details{
    display: inline-grid;
    padding: 10px;
}

#article-details > div > div {
    display: inline-grid;
    grid-template-columns: 50fr 50fr;
    
}

#tab-details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#tab-details > div:nth-child(10){
    /*Páginas*/
    order: 3;
/*    background: purple;*/
}
#tab-details > div:nth-child(2){
    /*Abstract*/
    order: 2;
/*    background: pink;*/
}

#tab-details > div:nth-child(1){
    /*Título*/
    order: 1;
/*    background: green;*/
}

#tab-details > div:nth-child(3){
    /*Ano*/
    /*background: cyan;*/
    order: 4;
}

#tab-details > div:nth-child(4){
    order: 5;
}


#tab-details > div:nth-child(5){
    order: 6;
}

#tab-details > div:nth-child(6){
    order: 7;
}

#tab-details > div:nth-child(7){
    order: 8;
}

#tab-details > div:nth-child(8){
    order: 9;
}

#tab-details > div:nth-child(9){
    order: 10;
}

#tab-details > div:nth-child(11){
    order: 11;
}

#tab-details > div:nth-child(12){
    order: 12;
}


#tab-details > div:nth-child(13){
    order: 13;
}

#tab-details > div:nth-child(14){
    order: 14;
}

#tab-details > div:nth-child(15){
    order: 15;
}

#tab-details > div:nth-child(16){
    order: 16;
}

#tab-details > div:nth-child(17){
    order: 17;
}

#tab-details > div:nth-child(18){
    order: 18;
}
